@font-face {
  font-family: "PoppinsRegular";
  src: url(../styles/Poppins-Regular.ttf);
}
html {
  background-color: #cec8c1;
  font-family: "PoppinsRegular";
}

body {
  padding: 0;
  margin: 0;
  font-family: "PoppinsRegular";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul.sp-margin-0 {
  margin: 0;
}
.sp-credits{
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 1px 24px;
  background: rgb(255 255 255 / 20%);
}

.sp-wrapper-container {
  margin: 15px;
  background: #cec8c1;
}
.sp-header {
  font-family: "PoppinsRegular";
}
.sp-container {
  width: 100%;
  display: inline-flex;
}
.sp-wrapper-filter {
  width: 19%;
  margin: 5px 4px 6px 10px;
  background: #ffffff;
  -moz-border-radius: 4px;
  border-radius: 4px;
  height: 540px;
  font-size: 12px;
  min-width: 197px;
}

.sp-filter-title {
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
}
.sp-filter-launch-year-title {
  text-align: center;
  margin: 0 2px;
}
.sp-para {
  border-bottom: 1px solid #adadad;
  margin: 0px 19px;
  font-size: 17px;
}
.sp-filter-option {
  display: flex;
  width: 50%;
  float: left;
  cursor: pointer;
}
.sp-filter-option span {
  flex: 1;
  background: #c3fba7;
  border-radius: 4px;
  margin: 10px 20px;
  padding: 3px;
}
.sp-right-panel-container {
  width: 80%;
}

.sp-tiles {
  margin: 5px;
  float: left;
  background: #ffffff;
  border-radius: 4px;
  height: 425px;
  width: 234px;
}
.sp-img-wrapper {
  text-align: center;
  background: #cec8c1;
  border-radius: 4px;
  margin: 10px;
}
.sp-img-wrapper img {
  width: 168px;
  margin: 4px;
  height: 168px;
}
.sp-first-title {
  border-radius: 4px;
  margin: 10px;
  color: #203bf9;
  font-family: "PoppinsRegular";
  font-size: 13px;
  font-weight: bold;
  display: flex;
}
.sp-tile-content {
  border-radius: 4px;
  margin: 10px 10px;
  font-family: "PoppinsRegular";
  display: flex;
}

.sp-span-title {
  font-size: 10px;
  font-weight: bold;
  flex: 1;
}
.sp-span-text {
  font-size: 10px;
  color: #4e4ee8;
  flex: 1;
}

.sp-tile-content-flex-0 {
  border-radius: 4px;
  margin: 10px 10px;
  font-family: "PoppinsRegular";
}

.sp-span-title-flex-0 {
  font-size: 10px;
  font-weight: bold;
}
.sp-span-text-flex-0 {
  font-size: 10px;
  color: #4e4ee8;
}

.sp-tiles div.sp-tiles-inner {
  height: inherit;
  font-size: 17px;
}
.sp-span-title-flex-0,
.sp-span-title,
.sp-span-text-flex-0,
.sp-span-text {
  font-size: 12px;
}
.sp-first-title {
  font-size: 15px;
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .sp-right-panel-container {
    width: 75%;
  }
  .sp-wrapper-filter {
    width: 25%;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .sp-wrapper-filter {
    width: 35%;
    min-width: 146px;
  }
  .sp-tiles {
    width: 46%;
  }
}
@media (min-width: 481px) and (max-width: 700px) {
  .sp-wrapper-filter span {
    max-width: 69px !important;
    padding: 7px !important;
  }
  .sp-right-panel-container {
    width: 95%;
  }
  .sp-right-panel-container {
    position: absolute;
    top: 670px;
  }
  .sp-wrapper-filter {
    margin: auto;
    width: 100%;
  }
  .sp-wrapper-filter span {
    -webkit-flex: 1 1;
    -moz-box-flex: 1;
    flex: 1 1;
    background: #c3fba7;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 10px auto;
    max-width: 111px;
    padding: 8px 18px;
  }
  .sp-wrapper-filter {
    height: 587px;
  }
  .sp-tiles {
    width: 100%;
    margin: 14px 0;
    height: 488px;
  }
  .sp-img-wrapper {
    height: 211px;
  }
  .sp-img-wrapper img {
    width: 197px;
  }
  .sp-span-title-flex-0,
  .sp-span-title,
  .sp-span-text-flex-0,
  .sp-span-text {
    font-size: 15px;
  }
  .sp-first-title {
    font-size: 18px;
  }
  .sp-first-title {
    margin: 25px 10px 10px 10px;
  }
}
@media (max-width: 480px) {
  .sp-wrapper-filter span {
    max-width: 69px !important;
    padding: 7px !important;
  }
  .sp-first-title {
    margin: 25px 10px 10px 10px;
  }
  .sp-right-panel-container {
    position: absolute;
    top: 670px;
  }
  .sp-wrapper-filter {
    margin: auto;
    width: 100%;
  }
  .sp-wrapper-filter span {
    -webkit-flex: 1 1;
    -moz-box-flex: 1;
    flex: 1 1;
    background: #c3fba7;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 10px auto;
    max-width: 111px;
    padding: 8px 18px;
  }
  .sp-wrapper-filter {
    height: 607px;
  }
  .sp-tiles {
    width: 100%;
    margin: 14px 0;
    height: 488px;
  }
  .sp-right-panel-container {
    width: 92%;
  }
  .sp-img-wrapper {
    height: 211px;
  }
  .sp-img-wrapper img {
    width: 197px;
  }
  .sp-span-title-flex-0,
  .sp-span-title,
  .sp-span-text-flex-0,
  .sp-span-text {
    font-size: 15px;
  }
  .sp-first-title {
    font-size: 18px;
  }
}

.sp-filter-list {
  display: none;
  position: fixed;
  right: 0px;
  bottom: 0px;
  width: 100%;
  background: #00000069;
  color: #ffffff;
  font-size: 11px;
}

.true {
  background: #0c7705 !important;
  color: #ffffff;
  box-shadow: 1px 1px 5px 1px #7d7d7d;
}
.sp-filter-option span:hover {
  box-shadow: 1px 1px 5px 1px #7d7d7d;
  transform: scale(1.001);
  transition: 0.2s ease;
}

.sp-tiles:hover {
  cursor: pointer;
  box-shadow: 1px 1px 5px 1px #7d7d7d;
}
